
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: azure;
    font-family: "Host Grotesk", sans-serif;
}
.contain{
    max-width: 1000px;
    background-color:aqua;
    margin:0 auto;
    padding: 5px;
}
header{

}
.profile{
    width: 100px;
    height: 120px;
    border: 2px solid;
    border-radius: 50%;
    float: left;
   

}
.name{
    float: left;
    padding: 30px;

}
h1,h2,h3,h4,h5,h6{

color: rgb(205, 50, 197);
}
.contact{
    float: right;
    padding: 20px;
}
.contact a{
    text-decoration: none;
    color: green;
    font-weight: bold;

}
.contact a:hover{
    color: brown;
    text-decoration: underline;
}
.div-clear{
    clear: both;
}
hr{

    border: solid black 2px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;


}
/*personnel section start here*/
#personnel{
    margin-bottom: 30px;

}
.div1{

}
.div-left{

    width: 30%;
    float: left;
}
.div-right{
width: 70%;
float: left;
}
.hr1{
    border: black solid 1px;
    margin: 20px auto;
}